@import "../../css/variables.scss";

.header {
    position: relative;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    z-index: 10;
    width: 100%;
    background-color: #000;

    @include md {
        justify-content: flex-start;
    }

    .logo {
        max-width: 135px;
        height: auto;
        width: 100%;
    }
}
